.section-game
  padding-bottom: 50px
  text-align: center

  &__toggle
    display: none
    margin: 0 auto
    @include lg
      display: block
    @include sm
      width: 100%

  &__wrapper
    position: relative
    padding-bottom: 56.25%
    padding-top: 25px
    height: 0
    display: none
    @include lg
      margin-top: 1rem
      min-height: 550px
    &.show
      display: block

  &__iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  &__heading
    margin-bottom: 0.5em
