@use "sass:map"
	
// USER VARIABLES SECTION

$accent: #A61D1D // Accent Color
$dark: #341616
$fontsize: 16px // Body Font Size
$textcolor: #333 // Text Color
$lineheight: 1.65 // Document Line Height
$userfont: jost, sans-serif // User Font Family
$breakpoints: (xs: 375px, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$continer-gutter: 15px

// IMPORTS SECTION

@use 'node_modules/normalize.css/normalize.css'
@use "node_modules/swiper/swiper.scss" with ($themeColor: $accent)
@use "node_modules/swiper/modules/pagination/pagination.scss"
@use "node_modules/swiper/modules/navigation/navigation.scss"
@use "node_modules/photoswipe/dist/photoswipe.css"

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		src: url($furl) format('woff2')

@include font('jost', normal, 300, '../fonts/Jost-Light.woff2')
@include font('jost', italic, 300, '../fonts/Jost-LightItalic.woff2')
@include font('jost', normal, 400, '../fonts/Jost-Regular.woff2')
@include font('jost', italic, 400, '../fonts/Jost-Italic.woff2')
@include font('jost', normal, 500, '../fonts/Jost-Medium.woff2')
@include font('jost', italic, 500, '../fonts/Jost-MediumItalic.woff2')
@include font('jost', normal, 700, '../fonts/Jost-Bold.woff2')
@include font('jost', italic, 700, '../fonts/Jost-BoldItalic.woff2')
@include font('jost', normal, 900, '../fonts/Jost-Black.woff2')
@include font('jost', italic, 900, '../fonts/Jost-BlackItalic.woff2')

// GENERAL CSS SETTINGS

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

html
	box-sizing: border-box

*, *::before, *::after
	box-sizing: inherit

body
	font-family: $userfont
	font-size: $fontsize
	line-height: $lineheight
	color: $textcolor
	min-width: 320px
	position: relative
	overflow-x: hidden

// MIXINS

@mixin breakpoint($px)
	@media only screen and (max-width: $px)
		@content
	
// Extra large devices
@mixin xl
	@media (max-width: map.get($breakpoints, 'xl'))
		@content
		
// Large devices
@mixin lg
	@media (max-width: map.get($breakpoints, 'lg'))
		@content
		
// Medium devices
@mixin md
	@media (max-width: map.get($breakpoints, 'md'))
		@content

// Small devices
@mixin sm
	@media (max-width: map.get($breakpoints, 'sm'))
		@content

@mixin xs
	@media (max-width: map.get($breakpoints, 'xs'))
		@content

